.contact {
    background: var(--bg-color);
}
.contact .container {
    padding: 2rem;
    width: 70%;
    margin: auto;
    margin-top: 2rem;
    background: var(--second-bg-color);
}
.contact .container .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
}
.contact-left {
    flex-basis: 35%;
}
.contact-right {
    flex-basis: 60%;
}
.contact .contact-left .sub-title {
    font-size: 4rem;
}
.contact.contact-left p {
    margin-top: 30px;
}
.contact .contact-left p i {
    color: var(--main-color);
    margin-right: 15px;
    font-size: 25px;
}
.contact .contact-right form {
    width: 100%;
}
form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #000000;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
    resize: none;
}