* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* header */
header {
  background-color: #9370DB;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* two columns*/
nav {
  float: left;
  width: 30%;
  height: 300px; /* only for demonstration, should be removed */
  background: #E6E6FA;
  padding: 20px;
}

/*menu list */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  height: 300px; /* only for demonstration, should be removed */
  overflow-y: scroll;
}
div {
  padding: 30px 0 20px 0;
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}
/* Style the footer */
footer {
  background-color: #7a367b;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns*/
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}