* {
    box-sizing: border-box !important;
    transition: ease all 0.5s;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #666666;
    font-size: 14px;
    font-family: Roboto;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
	background-color: #FFF0DC;
}
ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}