 body {
    font-family:Bookman, URW Bookman L, serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
	font-size:20px;
	}

   
    header {
      background-color: #333;
      color: #fff;
      text-align: left;
      padding: 20px;
    }

    nav {
      background-color: #ddd;
      text-align: center;
      padding: 10px 0;
    }

    nav ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    nav li {
      display: inline-block;
      margin: 0 10px;
    }

    nav a {
      color: #333;
      text-decoration: none;
    }

    .hero-image {
      width: 100%;
      height: 300px;
      background-image: url("img/hero-car.jpg");
      background-size: cover;
      background-position: center;
    }

   
    .section {
      padding: 20px;
    }

   #video {
		margin-bottom: 40px;
	}

	#video h2 {
		font-size: 24px;
		color: white;
		text-align: center;
		margin-bottom: 20px;
	}

/* Video Container Styling */
	.video-container {
		display: flex;
		justify-content: center;
		align-items: center;
		background: #fff;
		border: 1px solid #ddd;
		border-radius: 8px;
		padding: 10px;
		background: linear-gradient(rgba(28, 30, 50, .9), rgba(2, 30, 50, .9));
		max-width: 640px;
		margin: 0 auto;
	}

/* Video Player Styling */
		video, iframe {
		max-width: 100%;
		border-radius: 8px;
	}

/* Hover Effect */
	video:hover, iframe:hover {
		box-shadow: linear-gradient(rgba(28, 30, 50, .9), rgba(2, 30, 50, .9));
		transform: scale(1.02);
		transition: all 0.3s ease-in-out;
	}

	.w3-content.w3-padding-large.w3-border {
		border: 1px solid #ccc;
		border-radius: 10px;
	}
	
	.w3-container h2 {
		font-size: 36px;
		margin-bottom: 20px;
	}

    
    #contact form {
      width: 100%;
      max-width: 500px;
     
    }

    #contact label {
      display: block;
      margin-bottom: 5px;
    }

    #contact input, #contact textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
    }

    #contact button {
      background-color: #4CAF50;
      color: white;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
    }

    @media (max-width: 768px) {
  #hero {
    height: 200px;
  }

	.section {
		padding: 10px;
	  }
	}
	
	

	footer {
		background-color: white;
		padding: 20px;
		text-align: center;
}
	footer p{
		color:black;
		
	}