* {
    list-style-type: none;
    text-decoration: none;
    color: var(--font-color);
}
body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root{
    --primary-color: #f2af29;
    --secondary-color: #AD343E;
    --font-color: #000;
    --sub-color: #474747;
}
